*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    text-decoration: none;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #00002e;
}

#main
{
    display: flex;
    background-color: #00002e;
    height: 100%;
    width: 100%;
}
#left
{
    width: 60%;
    height: 100%;
    background-color: #00002e;
    color: #fff;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1591530201596-c5076b7c60ce?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-position: center;
}
#left img{
    height: 100px;
    width: 100px;
    margin: 10px 30px;
}

.container{
    font-family: "arial";
    font-size: 24px;
    place-items: center;
    width: fit-content;
    margin: 200px 50px;
  }
  
  .typed {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #fff;
    width: 0;
    animation: typing 4s steps(30, end) forwards infinite, blinking 1s infinite;
  }
    
  @keyframes typing {
    0% {
      width: 0; /* Start with zero width */
    }
    50% {
      width: 100%; /* Complete typing halfway through the animation */
    }
    100% {
      width: 0; /* Clear the text by reducing width to zero */
    }
  }
  
  /* @keyframes blinking {
    0% {border-color: transparent}
    50% {border-color: white;}
    100% {border-color: transparent}
  }
 */

#right{
    width: 40%;
    height: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
#right h1{
   font-size: 2.6rem;
}
#buttons{
    display: flex;
    gap: 1.5rem;
}
button{
    background-color: #3c46ff;
    color: #fff;
    padding: 12px 60px;
    text-align: center;
    font-weight: 100;
    border-radius: 0.375rem;
    border: none;
    font-size: 1.20rem;
    line-height: 1.5rem;
    cursor: pointer;
}
button:hover
{
    background-color: #081cf8;
}